<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="item-image" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <span class="valor titlebox season4dark"><input class="valor charname season4dark" name="name" type="text" value="{{item.name}}" placeholder="Name"/></span>
      <div class="resources grid grid-2col">
        <div class="resource flex-group-center">
          <label for="system.technique.cost.stamina.value" class="resource-label">Stamina Cost</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.cost.stamina.value" value="{{system.cost.stamina.value}}" data-dtype="Number"/>
          </div>
        </div>
        <div class="resource flex-group-center">
          <label for="system.technique.level.techniqueLevel" class="resource-label">Technique Level</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.level.techniqueLevel" value="{{system.level.techniqueLevel}}" data-dtype="Number"/>
          </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">Attributes</a>
    <a class="item" data-tab="description">Description</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <section class="grid grid-3col">
        <aside class="sidebar">
          <div class="resources green-box flexcol">
            <div class="resource flexrow flex-group-center">
              <label for="system.action" class="resource-label rollable flexlarge align-left" data-label="Action">Action: </label>
              <input type="text" name="system.action" value="{{system.action}}" data-dtype="String"/>
            </div>
            <div class="resource flexrow flex-group-center">
              <label for="system.targets" class="resource-label rollable flexlarge align-left" data-label="Targets">Target(s): </label>
              <input type="text" name="system.targets" value="{{system.targets}}" data-dtype="Number"/>
            </div>
            <div class="resource flexrow flex-group-center">
              <label for="system.range" class="resource-label rollable flexlarge align-left" data-label="Range">Range: </label>
              <input type="text" name="system.range.max" value="{{system.range.max}}" data-dtype="Number"/>
            </div>
            <div class="resource flexrow flex-group-center">
              <label for="system.area" class="resource-label rollable flexlarge align-left" data-label="Area">Area: </label>
              <input type="text" name="system.area.xAxis" value="{{system.area.xAxis}}" data-dtype="Number"/>
              <span>x</span>
              <input type="text" name="system.area.yAxis" value="{{system.area.yAxis}}" data-dtype="Number"/>
            </div>
            <div class="resource flexrow flex-group-center">
              <label for="system.attribute.effect" class="resource-label rollable flexlarge align-left" data-label="Effect">Effect Roll: </label>
              <input type="text" name="system.attribute.effect" value="{{system.attribute.effect}}" data-dtype="String"/>
            </div>
            <div class="resource flexrow flex-group-center">
              <label for="system.attribute.opposedRoll" class="resource-label rollable flexlarge align-left" data-label="Opposed">Opposed Roll: </label>
              <input type="text" name="system.attribute.opposedRoll" value="{{system.attribute.opposedRoll}}" data-dtype="String"/>
            </div>
          </div>
        </aside>
        <div class="grid grid-2col">
          <div class="resource flex-group-center">
            <label for="system.core.name" class="resource-label" data-label="Core">Core
              <div>
              <select id="coreSelect" name="system.core._id">
                {{#select system.core._id}}
                <option value='{{system.core._id}}'>{{ system.core.name }}</option>
                {{#each compendiumCores}}
                <option value='{{this._id}}'>{{ this.name }}</option>
                {{/each}}
                {{/select}}
              </select>
              </div>
            </label>
            <label for="flags.valor.technique.modifier" class="resource-label rollable flexlarge align-left" data-label="Mods">Mods</label>
            {{#each flags.valor.technique.modifier as |techMod techId|}}
              <li class="item-name flexrow grid grid-3col">
                <span class="item-name flexrow">{{techMod.name}}</span>
                <input type="text" name="flags.valor.technique.modifier.{{techId}}.level" value="{{techMod.level}}" data-dtype="Number"/>
                <a class="techOpt" data-action="delete" title="{{localize 'VALOR.ModifierDelete'}}" value="{{techId}}">
                  <i class="fas fa-trash"value="{{techId}}"></i>
                </a>
              </li>
            {{/each}}
            <select class="techOptSelect">
              <option value=-1>- Add Modifier -</option>
              <option value=-1>-</option>
              {{#each compendiumMods}}
              <option value='{{this._id}}'>{{ this.name }}</option>
              {{/each}}
            </select>

<!--            <div>-->
<!--              <select name="system.core._id" onChange="testOnCVhange(this)">-->
<!--                {{#select system.core._id}}-->
<!--                {{#each compendiumCores}}-->
<!--                <option value='{{this._id}}'>{{ this.name }}</option>-->
<!--                {{/each}}-->
<!--                {{/select}}-->
<!--              </select>-->
<!--            </div>-->



          </div>
          <div class="resource flex-group-center ">
            <label for="system.level.coreLevel" class="resource-label rollable flexlarge align-left" data-label="Core Power">Core Power</label>
            <input type="text" name="system.level.coreLevel" value="{{system.level.coreLevel}}" data-dtype="Number"/>

            <label for="flags.valor.technique.limit" class="resource-label rollable flexlarge align-left" data-label="Limit">Limits</label>
            {{#each flags.valor.technique.limit as |techLimit techId|}}
            <li class="item-name flexrow grid grid-3col">
              <span class="item-name flexrow">{{techLimit.name}}</span>
              <input type="text" name="flags.valor.technique.limit.{{techId}}.level" value="{{techLimit.level}}" data-dtype="Number"/>
              <a class="techOpt" data-action="delete" title="{{localize 'VALOR.ModifierDelete'}}" value="{{techId}}">
                <i class="fas fa-trash"value="{{techId}}"></i>
              </a>
            </li>
            {{/each}}
            <select class="techOptSelect">
              <option value='-1'>- Add Limit -</option>
              <option value='-1'>-</option>
              {{#each compendiumLimits}}
              <option value='{{this._id}}'>{{ this.name }}</option>
              {{/each}}
            </select>
          </div>
        </div>


      </section>
      <div>
        <div class="resource flex-group-center ">
          <label for="system.text.crunch.effect" class="resource-label rollable flexlarge align-left" data-label="Effects">Effects</label>
          <textarea name = "system.text.crunch.effect" placeholder="What does the effect do mechanically?">{{system.text.crunch.effect}}</textarea>
          <textarea name = "system.text.crunch.special" value="{{system.text.crunch.special}}" placeholder="What special properties does this effect have?"></textarea>
        </div>
        <div class="resource flex-group-center ">
          <label for="system.text.flavor" class="resource-label rollable flexlarge align-left" data-label="Flavor">Flavor Text</label>
          <textarea name = "system.text.flavor.user" placeholder="{{system.text.flavor.default}}">{{system.text.flavor.user}}</textarea>
        </div>
      </div>
    </div>

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor content=system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

  </section>

</form>
